:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gradient-2: linear-gradient(#a994f3, #3f3779);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  place-items: center;
  
}

h1 {
  margin-bottom: auto;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* card deck section */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  width: clamp(10px, 20vw, 200px );
  margin: 10px;
  padding: 0;

}

div .card {
  padding: 10px;
}

.card img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

p.description {
  margin: 0;
  font-size: clamp(0.5rem, 2vw, 3rem );
  /* text-size-adjust: auto; */
  color: darkblue;
}


/* header section */
.title h1 {
  
  text-align:center; 
  font-size: clamp(1rem, 3.5vw, 3rem ) ; 
  text-transform:uppercase; 
  color:#222; 
  letter-spacing: 0.1rem;
  font-family:"Playfair Display", serif; font-weight:400;
}

.title h1 span {
  margin-top: 0.1rem;
    font-size: clamp(0.2rem, 1.2vw, 1.3rem ); 
    color:#444; 
    word-spacing:0.2rem; 
    font-weight:normal; 
    letter-spacing: 0.1rem;
    text-transform: uppercase; 
    font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 5px 0;
    grid-gap: 2px;
    align-items: center;
}

.title h1 span:after,.title h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: .5px;
  background-color:#f8f8f8;
}

.score h1{
  font-size:smaller;
}




/* light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .title h1{
    color: #222;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
 
  .title h1{
    color: white;
  }

  .title h1 span {
    color: gray;
  }

  .card {
    background-color: lightblue;
  }

  
}


/* scoreboard style */


.light-grey-text {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 1.2rem;
  color: #ddd;
  
}

.gradient-2 {
  background: var(--gradient-2);
}


.gold-text {
  position: absolute;
  bottom: 25%;          
  left: 70%; 
  color: gold;
  font-size: 1.2rem;
  
  margin: 0;
  z-index: 999;
}
.fa-layers{
  position: absolute;
  bottom: 26%;          
  right: 15%; 
}

/* floating pill */
.pill {
  width: 200px; 
  height: 40px; 
  background-color: #007bff; /* Example color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px; /* Ensures fully rounded corners */
  padding: 5px 15px; /* Adjust padding as needed */

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(16px + env(safe-area-inset-bottom));
  z-index: 1000;

  opacity: 0.8;

  /* position: fixed;
  right: 16px;
  bottom: calc(16px + env(safe-area-inset-bottom));
  z-index: 1000; */
}

.final-score {
  position: relative;
  bottom: 30%;          
  left: -10%; 
  font-size: 1.1rem;
  font-weight: bold;
}

.white-text {
  color: white;
}

/* progress bar */
.flexible-bar-case {
  position: absolute;
  bottom: 20%;          
  left: 10%; 
  height: 10px;
  width: 58.5%; /* not matching the flexible-bar width due to thick border that offset the hollow position */
  /* background-color: green; */
  border: medium solid #ccc;
  border-radius: 10px;
}

.flexible-bar{
  /* display: flex;
  flex-direction: row; */

  position: absolute;
  bottom: 22%;          
  left: 10.5%; 
  height: 15px;
  background-color: #ccc;
  border-radius: 10px;
}

.crown{
  transform: translateX(-25%);
    
    color: white;

}

.fa-layers {
  position: absolute;
  bottom: 28%;          
  right: 10%;
}

.fa-layers-text {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-weight: bold;
  color: gold; /* or whatever color you want */
}
@media screen and (max-width: 400px) {
  /* Apply styles here for screens with a maximum width of 400px */
  .final-score {
    position: relative;
    bottom: 30%;          
    left: -3%; 
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .white-text {
    color: white;
  }
  
  .pill {
    width: 150px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    background-color: #007bff; /* Example color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px; /* Ensures fully rounded corners */
    padding: 5px 15px; /* Adjust padding as needed */
  
    position: fixed;
    left: 50%;
    bottom: calc(16px + env(safe-area-inset-bottom));
    z-index: 1000;
  
    opacity: 0.8;
  
    /* position: fixed;
    right: 16px;
    bottom: calc(16px + env(safe-area-inset-bottom));
    z-index: 1000; */
  }
  .flexible-bar-case {
    position: absolute;
    bottom: 20%;          
    left: 10%; 
    height: 10px;
    width: 58.5%; /* not matching the flexible-bar width due to thick border that offset the hollow position */
    /* background-color: green; */
    border: medium solid #ccc;
    border-radius: 10px;
  }

  .flexible-bar{
    /* display: flex;
    flex-direction: row; */
  
    position: absolute;
    bottom: 22%;          
    left: 10.5%; 
    height: 15px;
    background-color: #ccc;
    border-radius: 10px;
  }

  .crown{
    /* position: absolute; */
    transform: translateX(-25%);
    /* bottom: 19%;          
    right: 5.5%;  */
    color: white;

  }
  

  .fa-layers {
    position: relative;
    bottom: 1%;          
    right: -12%;
  }
  
  .fa-layers-text {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
    color: gold; /* or whatever color you want */
  }

  .gold-text {
    align-content: center;
    
    
    margin: 0;
    z-index: 999;
  }
}

